body {
    background-color: #222 !important;
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
}
.header {
    height: 40px;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
	-webkit-app-region: no-drag;
}