body {
    background-color: #222 !important;
}
.dragable{
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
}
.header {
    font-size: 37px !important;
    font-family: Roboto;
    font-weight: bold;
}

.icons8-Horizontal-Line {
    margin-top: 27px;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
	-webkit-app-region: no-drag;
}